#qcmcomp {
  width: 500px;
}
div#qcm {
  background-color: gray;
}
form {
  text-align: justify;
  padding-left: 2rem;
}
li {
  list-style: none;
}
div.count {
  text-align: right;
}

div.button {
  text-align: right;
}
div.slide {
  margin-bottom: 1rem;
}
div#responce {
  padding-left: 2rem;
  padding-top: 2rem;
}
div#percent {
  text-align: right;
}
span.correct {
  font-weight: bold;
  color: lightgreen;
}
span.notcorrect {
  font-weight: bold;
  color: red;
}

label {
  margin-left: 0.5rem;
}

button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
